{% extends "./base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<head>
    <header>
        <h1>Dashboard</h1>
        <p>Statistics</p>
        <p>Logout</p>
    </header>
</head>
{% endblock %}