{% extends 'base.html.twig' %}

{% block title %}Edit Weight{% endblock %}

{% block body %}

    <main role="main">
        <div class="jumbotron">
            <div class="container"> <h1>Edit this weight or delete it</h1></div>
        </div>

        <div class="container">
            <nav class="navbar-dark  bg-dark">
                <div class="input-group" >
                    <div class="input-group-append">
                        <img src="{{ asset('../img/icon_calendar.png') }}" alt="logo">
                    </div>
                </div>
            </nav>
            <div class="jumbotron">
                <div class="container">
                    {{ include('weight/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <a class="btn btn-secondary" href="{{ path('app_food_index') }}">back to list</a>
            </div>
        </div>
    </main>

{% endblock %}
