{% extends 'base.html.twig' %}

{% block title %}New Weight{% endblock %}

{% block body %}

    <main role="main">
        <div class="jumbotron">
            <div class="container"> <h1>Add your weight information to access the fitness tracker functionalities</h1></div>
        </div>

        <div class="container">
            <nav class="navbar-dark  bg-dark">
                <div class="input-group" >
                    <div class="input-group-append">
                        <img src="{{ asset('../img/icon_calendar.png') }}" alt="logo">
                    </div>
                </div>
            </nav>
            <div class="jumbotron">
                <div class="container">
                    {{ include('weight/_form.html.twig') }}
                </div>
            </div>
        </div>
    </main>


{% endblock %}
